<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Example</title>
    <link rel="stylesheet" href="/css/GeneralLayout.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script>
        htmx.config.allowScriptTags = false;
        htmx.config.allowEval = false;
    </script>
</head>
<body>
    <button hx-get="https://localhost:7245/WeatherForecast" hx-target="#response">
        Get Local API End PointClick me!
    </button>
    <div id="response"></div>


    <!-- This button uses HTMX to make a GET request to the API -->
    <button hx-get="https://jsonplaceholder.typicode.com/posts/1" hx-target="#api-response">
        Get Public API End Point
    </button>

    <!-- This is where the response will be displayed -->
    <div id="api-response"></div>
</body>
</html>