<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Example</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body>
    <button hx-get="https://localhost:7245/WeatherForecast" hx-target="#response">Click me!</button>
    <div id="response"></div>

    <!-- Google sign-in button -->
    <p>this button will do a full page reload!</p>
    <button id="googleSignIn" onclick="window.location.href='/signin-google';" type="button">Sign in with Google</button>


    <button id="checkAuthStatusBtn" hx-get="/check-auth" hx-target="#authStatus">Check Auth Status</button>
    <div id="authStatus">
        <!-- Authentication status will be loaded here by HTMX -->
    </div>

</body>
</html>